<% if(messages.info) { %>
    <div class="message-container">
        <%= messages.info %>
    </div>
<% } %>

<% if(messages.error) { %>
    <div class="message-container">
        <%= messages.error %>
    </div>
<% } %>