<link rel="stylesheet" href="/css/home.css">

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Enter Employee Review Here</h5>
            <form method="post" action="/reviews/add-review">
                <div class="form-group mb-3">
                    <label for="dropdown">Choose an Employee:</label>
                    <select name="revieweeId" class="form-control" id="dropdown" required>
                        <option disabled selected value> -- select an email -- </option>
                        <% if(auth_users.length) { %> 
                            <% for (user of auth_users) { %>
                                <option value="<%= user._id %>" class="dropdown-options" option-review="<%= user.review %>">  <%= user.email %> </option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="textarea">Enter your review:</label>
                    <textarea name="review" class="form-control" id="textarea" rows="6" style="resize: none;" required></textarea>
                </div>
                <div class="form-group btn-center mb-3">
                    <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/home.js"></script>